//
// user.scss
// Use this to write your custom SCSS
//
.navbar-brand-img, .navbar-brand > img{
  max-height: 36px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #FFFFFF;
  background-color: #2C7BE5;
  background: #22c88a1a;
}
.modal-dialog-vertical.modal-sidebar-nav{
  max-width: 250px;
}
.bg-ellipses.bg-dark {
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-image: radial-gradient(#002B49, rgba(0, 0, 0, 0.87) 70%, transparent 70.1%);
    background-size: 200% 150%;
    background-position: center bottom;
}
.bg-dark-gradient{
  background:linear-gradient(58.47deg, rgba(0, 0, 0, 0.87) 0.72%, #002B49 100%);
}
.preheader-container{
  min-height: 48px;
  background-color: #2c7be5;
}
.preheader-content{
  position: relative;
  margin: 0 auto;
  max-width: 640px;
  padding: 6px 8px;
  text-align: center;
}
.preheader-content p{
  margin-bottom: 0;
  line-height: 48px;
  color: white;
  text-align: center;
}
.bg-blue-sky {
    background: #56ccf2;
    background: linear-gradient(90deg,#2f80ed,#56ccf2);
}
iframe > body > .kyber_widget{
  padding: 0!important;
}
