<!-- Libs JS -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="node_modules/list.js/dist/list.min.js"></script>
<script src="node_modules/quill/dist/quill.min.js"></script>
<script src="node_modules/select2/dist/js/select2.min.js"></script>
<script async src='https://widget.kyber.network/v0.6.4/widget.js'></script>
<script src="assets/libs/performance-bundle.js"></script>
<script src="assets/libs/init.js"></script>

<!-- Theme JS -->
<!-- build:js assets/js/theme.min.js -->
<script src="assets/js/dashkit.js"></script>
<script src="assets/js/dropdowns.js"></script>
<script src="assets/js/list.js"></script>
<script src="assets/js/navbar.js"></script>
<script src="assets/js/popover.js"></script>
<script src="assets/js/quill.js"></script>
<script src="assets/js/select2.js"></script>
<!-- endbuild -->
