<!-- HEADER -->

<div class="main-container bg-primary">
  <div class="container">
    <div class="row justify-content-center align-items-center p-3">
      <div class="col-auto">
        <p class="d-inline-block mb-0 text-white mr-2 mb-3 mb-lg-0">We rely on donations to keep working on the project. Support Betoken by making a donation.</p><a href="funding.html" class="btn btn-sm btn-white d-inline-block">Donate to Betoken</a>
      </div>
    </div>
  </div>
</div>
<div class="bg-ellipses bg-dark pb-7">
  <!-- NAVIGATION
  ================================================== -->
  <nav class="navbar navbar-expand-lg bg-transparent border border-0 mb-5" id="topnav">
    <div class="container">
      <div class="row d-flex justify-content-between no-gutters w-100">
        <div class="col d-flex align-items-center">
          <!-- Brand -->
          <a class="text-white" href="#" data-toggle="modal" data-target="#sidebarModal"><i class="fe fe-menu mr-3 h1 mb-0"></i></a>
          <a class="navbar-brand mr-auto d-flex align-items-center" href="index.html">
            <img src="assets/img/logo.svg" alt="..." class="navbar-brand-img">
            <span class="text-white ml-2 h3 mb-0">Betoken</span>
          </a>
        </div>
        <div class="col ml-auto d-flex justify-content-end">
          <div class="navbar-user">
            <a class="text-white mr-5 d-none d-md-flex" href="funding.html">Funding</a>
            <a class="text-white mr-5 d-none d-md-flex" href="friends.html">Friends</a>
            <a class="text-white mr-5 d-none d-md-flex" href="https://medium.com/betoken" target="_blank">Blog</a>
            <a class="text-white mr-5 d-none d-md-flex" href="https://betoken.gitbook.io/betoken/" target="_blank">Help</a>
            <div class="mr-4 d-none d-md-flex">
              <a class="text-white" data-toggle="modal" href="#modalEmailUpdates">
                <span class="icon active">
                  <i class="fe fe-bell"></i>
                </span>
              </a>

            </div>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item mr-2 d-none d-md-flex align-items-center">
              <a class="text-white btn btn-link" href="https://betoken.fund/portal/#/dashboard" target="_blank">
                Sign in
              </a>
            </li>
            <li class="nav-item mr-2 d-none d-md-flex align-items-center">
              <a class="text-white btn btn-success" href="start.html">
                Sign Up
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- / .container -->
  </nav>
  <div class="container">
    <div class="row justify-content-center mb-lg-5">
      <div class="col col-lg-8 text-center">
        <!-- Subtitle -->
        <h6 class="header-pretitle text-muted">Meet Betoken</h6>
        <!-- Title -->
        <h1 class="display-2 d-none d-lg-block text-white mb-5">
          The crowd-powered crypto asset management solution
        </h1>
        <h1 class="display-4 d-block d-lg-none text-white mb-5">
          The crowd-powered crypto asset management solution
        </h1>
        <a class="btn btn-success btn-lg mb-3" href="start.html">Get started</a>
        <p class="text-muted small">Already using Betoken? <a class="text-white" href="https://betoken.fund/portal/#/dashboard" target="_blank">Sign in</a>.</p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .bg-ellipses -->
