<!-- HEADER -->
<div class="bg-ellipses bg-dark pb-7">
  <!-- NAVIGATION
  ================================================== -->
  <nav class="navbar navbar-expand-lg bg-transparent border border-0 mb-5" id="topnav">
    <div class="container">
      <div class="row d-flex justify-content-between no-gutters w-100">
        <div class="col d-flex align-items-center">
          <!-- Brand -->
          <a class="text-white" href="#" data-toggle="modal" data-target="#sidebarModal"><i class="fe fe-menu mr-3 h1 mb-0"></i></a>
          <a class="navbar-brand mr-auto d-flex align-items-center" href="index.html">
            <img src="assets/img/logo.svg" alt="..." class="navbar-brand-img">
            <span class="text-white ml-2 h3 mb-0">Betoken</span>
          </a>
        </div>
        <div class="col ml-auto d-flex justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item mr-2 d-none d-md-flex align-items-center">
              <a class="text-white btn btn-link" href="https://betoken.fund/portal/#/dashboard" target="_blank">
                Sign in
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- / .container -->
  </nav>
  <div class="container">
    <div class="row justify-content-center mb-6">
      <div class="col col-lg-8 text-center">
        <!-- Title -->
        <h1 class="display-2 d-none d-lg-block text-white mb-5">
          Get Started with Betoken
        </h1>
        <h1 class="display-4 d-block d-lg-none text-white mb-5">
          Get Started with Betoken
        </h1>
        <p class="text-muted lead mb-0">Choose an option below to begin</p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .bg-ellipses -->
