<!-- HEADER -->
<div class="bg-ellipses bg-dark pb-7">
  <!-- NAVIGATION
  ================================================== -->
  <nav class="navbar navbar-expand-lg bg-transparent border border-0 mb-5" id="topnav">
    <div class="container">
      <div class="row d-flex justify-content-between no-gutters w-100">
        <div class="col d-flex align-items-center">
          <!-- Brand -->
          <a class="text-white" href="#" data-toggle="modal" data-target="#sidebarModal"><i class="fe fe-menu mr-3 h1 mb-0"></i></a>
          <a class="navbar-brand mr-auto d-flex align-items-center" href="index.html">
            <img src="assets/img/logo.svg" alt="..." class="navbar-brand-img">
            <span class="text-white ml-2 h3 mb-0">Betoken</span>
          </a>
        </div>
        <div class="col ml-auto d-flex justify-content-end">
          <div class="navbar-user">
            <a class="text-white mr-5 d-none d-md-flex" href="funding.html">Funding</a>
            <a class="text-white mr-5 d-none d-md-flex" href="friends.html">Friends</a>
            <a class="text-white mr-5 d-none d-md-flex" href="https://medium.com/betoken" target="_blank">Blog</a>
            <a class="text-white mr-5 d-none d-md-flex" href="https://betoken.gitbook.io/betoken/" target="_blank">Help</a>
            <div class="mr-4 d-none d-md-flex">
              <a class="text-white" data-toggle="modal" href="#modalEmailUpdates">
                <span class="icon active">
                  <i class="fe fe-bell"></i>
                </span>
              </a>

            </div>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item mr-2 d-none d-md-flex align-items-center">
              <a class="text-white btn btn-link" href="https://betoken.fund/portal/#/dashboard">
                Sign in
              </a>
            </li>
            <li class="nav-item mr-2 d-none d-md-flex align-items-center">
              <a class="text-white btn btn-success" href="start.html">
                Sign Up
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- / .container -->
  </nav>
  <div class="container">
    <div class="row justify-content-center mb-5 mb-lg-3">
      <div class="col col-lg-8 text-center">
        <!-- Subtitle -->
        <h6 class="header-pretitle text-muted">Betoken</h6>
        <!-- Title -->
        <h1 class="display-2 d-none d-lg-block text-white mb-5">
          Community Funding
        </h1>
        <h1 class="display-4 d-block d-lg-none text-white mb-5">
          Community Funding
        </h1>
        <p class="text-muted lead mb-5">This is a general fund for the Betoken project’s ongoing <a href="#why">professional security audit</a> donations campaign. Donations into this fund are always welcome, very appreciated, and a quick and easy way to get yourself or your company on to the <a href="friends.html">friends of Betoken</a> page.</p>
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col col-lg-8">
        <div class="row align-items-start mb-3 no-gutters">
          <div class="col-auto mr-3">
            <img class="d-block" src="assets/img/dai.svg" alt="Dai Logo" width="36">
          </div>
          <div class="col">
            <p class="card-text h3 text-white mb-1">
              2,524 DAI
            </p>
            <p class="card-text small text-secondary mb-2">pledged of 15,000 $DAI / $US goal</p>
          </div>
          <div class="col-auto text-right">
            <p class="card-text h3 text-white mb-1">
              Sun, June 30 2019
            </p>
            <p class="card-text small text-secondary">Ending</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
      <div class="col col-lg-8">
        <div class="row align-items-center">
          <div class="col">
            <div class="progress progress-sm">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 16%;">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="card-text small text-secondary">16 %</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center no-gutters">
      <div class="col">
        <!-- Title -->
        <h2 class="text-center text-white text-uppercase text-muted h5 mb-0">
          Donate to Betoken
        </h2>
      </div>
    </div>
  </div> <!-- / .container -->
</div> <!-- / .bg-ellipses -->
